body {
	font: 14px/1.5 "Arial", sans-serif;
}

.page {
	width: 90%;
	margin: 5% auto 0;
}

/* Responsive images */

img { max-width: 100%; }

figure, figcaption { display: block; }

figure {
	float: left;
	width: 15%; /* 20% - margin-left (2.5%) - margin-right (2.5%) */
	margin: 0 2.5% 2em 2.5%;
	background: white;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

figcaption { padding: 0.5em 1em 1em 1em; }

figcaption strong { display: block; margin: 0 0 0.5em 0; }

figcaption p { margin: 0; }

/* Media queries */

@media screen and (max-width: 1200px) {

	figure {
		width: 20%; /* 25% - margin-left (2.5%) - margin-right (2.5%) */
	}

}

@media screen and (max-width: 890px) {

	figure {
		width: 28.33%; /* 33.33% - margin-left (2.5%) - margin-right (2.5%) */
	}

}

@media screen and (max-width: 700px) {

	figure {
		width: 45%; /* 50% - margin-left (2.5%) - margin-right (2.5%) */
	}

}

@media screen and (max-width: 560px) {

	figure {
		float: none;
		width: 100%; /* full width column */
		margin-left: 0;
		margin-right: 0;
	}

}
